body {
  background-color: #E3F2FD;
}

.Dictionary section {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}

.Dictionary .form-title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease-in-out;
}

form input:focus {
  border-color: #E3F2FD;
  outline: none;
}

.Dictionary .hint {
  color: #a3a3a3;
  font-size: 11px;
  margin-top: 2px;
  font-style: italic;
}
