form {
    text-align: center;
}

form input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border .3s ease-in-out;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

form input:focus {
    border-color: #CA7717;
    outline: none;
}

